numpy
scipy
scikit-learn
ipython
future>=0.15
matplotlib
-e git+https://github.com/qutip/qutip.git#egg=QuTiP

# We also add additional tools for plotting.
mpltools

pytest
pytest-cov
pytest-xdist

coveralls
pylint
